.colorebackground{
    background-color: rgb(145, 21, 145);
}

.flexcont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.cella{
    background-color: green;
    aspect-ratio: 1 / 1;
    color: gold;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.azzurro{
    background-color: blue;
}

.bomba{
    background-color: red;
}

#clickresult{
    background-color: blue;
    color: gold;
    font-size: 30px;
    text-align: center;
}